<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Imię</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nazwisko</mat-label>
    <input matInput formControlName="surname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput formControlName="login">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numer telefonu</mat-label>
    <input matInput formControlName="phoneNumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data urodzenia</mat-label>
    <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button class="primary" mat-button (click)="save()">
    <span>Zmień</span>
  </button>
</form>
