

.mat-mdc-card-content {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-button-toggle-group {
    display: flex;
  }

  .options {
    padding: .4rem;
    padding-inline: 1rem;
    background: #ffcc00;
    text-align: center;

    span {
      display: block;
      text-align: center;
    }

    span:nth-child(1) {
      font-size: 12px;
    }
  }
}
