:host {
  overflow: hidden;
}

.primary {
  background-color: #d2161e !important;
  color: white !important;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.wrapper {
  padding: 1rem;
}
