html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #eef0f3;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  gap: .2rem;
}

.bold {
  font-weight: bold;
}

.error {
  color: #d2161e;
}

.progress-bar {
  width: 932px;
}

.primary {
  background-color: #d2161e !important;
  color: white !important;
}
